:root {
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-primary: white;
    --color-secondary: teal;
    --nav-width: 19rem;
    --margin-visual-aid: 1.8rem;
    --indent-1: 6%;
    --indent-2: 12%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-primary);
    color: var(--color-black);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1rem;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    border-right: 3px solid grey;
    padding: 1rem 0 0 0;
    width: var(--nav-width);
    height: 100vh; 
    overflow-y: auto;
}

#navbar ul li a {
    border-top: 1px solid black;
    padding: 0.8rem 2rem;
    width: 100%;
    height: 100%;
    display: block;
    color: var(--color-black);
}

.main-section {
    margin: 0 0 0 var(--nav-width);
    padding: 2rem 3rem;
}

header{
    margin: 0 0 1rem 0;
    display: block;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
}

p, h3, ol li, img, figcaption{
    margin: 0 0 0.8rem 0;
}

.sub-section{
    margin: 2.4rem 0 0 0;
}

p{
    line-height: 1.5rem;
    text-indent: var(--indent-1);
    text-align: justify;
    text-justify: inter-word;
}

ol[type="1"]{
    margin: 0 0 0 var(--indent-1);
    display: block;
    text-align: justify;
    text-justify: inter-word;
}

ol[type="a"]{
    margin: 0 0 0 var(--indent-2);
}

.table-section{
    margin: var(--margin-visual-aid) 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table{
    width: 80%;
}

th, td{
    padding: 0.5rem 0.5rem;
}

figure{
    margin: var(--margin-visual-aid) 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    border: 2px solid var(--color-secondary);
    width: 70%;
    height: 70%;
    object-fit: cover;
}

#references header{
    margin: 0 0 1.5rem 0;
}

#references p{
    margin: 0 0 1.3rem 0;
    line-height: 1.5rem;
    text-indent: 0;
    text-align: justify;
    text-justify: inter-word;
}

/* @media */
@media screen and (max-width: 815px) {
    #navbar {
        position: absolute;
        top: 0rem;
        left: 0;
        border: 3px solid grey;
        width: 98vw;
        height: 12rem;
        overflow-y: auto;
    }

    

    #main-doc{
        margin: 20rem 0 0 0;
    }

    .main-section{
        margin: 0;
    }
}

/*
body{
    color: #4d4e53;
    font-family: 'Open Sans', Arial, sans-serif;
    margin-top: 9px;
    line-height: 1.5;
}

#navbar{
    position: fixed;
    top: 0px;
    left: 0px;
    border-right: 3px solid grey;
    width: 300px;
    height: 100%;
}

#navbar header{
    margin-top: 10px;
    margin-left: 32px;
}

#navbar ul{
    margin-top: 16px;
    padding: 0%;
}

#navbar li{
    border-top: 1px solid grey;
    width: 100%;
    height: auto;
    list-style: none;
}

#navbar a{
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    text-decoration: none;
    cursor: pointer;
}

#main-doc{
    position: absolute;
    margin-left: 310px;
    margin-bottom: auto;
    padding: 20px;
}

header{
    text-align: left;
    color: black;
    font-size: 1.8em;
    font-weight: 700px;
}

section{
    display: block;
}

section article{
    font-size: 0.96em;
    margin-top: 18px;
    margin-right: 16px;
    margin-left: 16px;
}

p{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
*/